* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

img {
    height: 500px;
}

.select {
    color: #ffffff;
    background-color: #27AE60;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    padding: 16px;
    margin-top: 30px;
    width: 180px;
}

upper {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin-top: 20px;
   width: 60%;
   margin: auto;
   margin-top: 60px;
}   

lower {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 60px;
}

letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    font-size: 28px;
    margin: 5px;
    font-weight: 700;
}

.selectable {
    color: #39739D;
    border: 2px solid #80ABC9;
    background-color: #E1ECF4;
}

.nonSelectable {
    color: #7F818A;
    border: none;
    background-color: #9FAAB5;
}

attempt {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

span {
    display: flex;
    font-size: 20px;
    align-items: center;
}

input {
    height: 40px;
    width: 30%;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 6px;
}

.try {
    color: #39739D;
    border: 2px solid #80ABC9;
    background-color: #E1ECF4;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
}

right {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

p {
    font-size: 40px;
} 

.selectable:hover,
button:hover{
    cursor: pointer;
}